
$action-color: #62A20F;
$action-hover: #73BE0F;

.hero {
  padding: 2rem;
  background: linear-gradient(
    rgba(20,20,20, .65), 
    rgba(20,20,20, .65)
  ), url('../img/background_credit-alberto-castillo-q-346020-unsplash.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
}

.container-fluid {
  margin: 0 auto;
  width: 90%
}

.rooms {
  white-space: nowrap;
  font-size: 1.25rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 7px;
  background: #fff;
  outline: none;
  opacity: 0.75;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  background: $action-hover;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  background: $action-hover;
  cursor: pointer;
}

.interval {
  white-space: normal !important;
  background: rgba(255,255,255,0.75);
  color: #000;
}

.interval:hover {
  background: rgba(255,255,255,1);
}

.selected, .selected:hover {
  background: $action-hover;
  color: #fff;
}

.discount-amount {
  font-size: 1.25rem;
  font-weight: bold;
}

.quote-total {
  font-size: 5rem;
}

.cta {
  background: $action-color;
  color: #fff;
}

.cta:hover {
  background: $action-hover;
}

.btn {
  white-space: normal;
}

.modal-backdrop.show {
  background: #fff;
  opacity: 0.75;
}

.modal-content {
  background-color: rgba(0,0,0,.85);
}

.modal-header, .modal-footer {
  border: none;
}

.modal-title, .modal-body, .close {
  color: #fff;
}

.close:hover {
  color: #fff;
  opacity: 1;
}

.quote-modal {
  font-size: .8rem;
}

.form-control {
  background-color: rgba(255,255,255,.75);
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-fluid {
    width: 70%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}
